@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: rgb(48, 48, 99);
}

body{
    background-color: rgba(17, 85, 0, 0.349);
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
    outline: none; 
}
section{
    color: rgb(0, 0, 0);
}
.container{
    max-width: 640px;
    margin: 20px auto;
    background-color: white;
    padding: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 1px 1px 5px black;
}
form input, form label, form button{
    display: block;
    width: 100%;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}